<li class="<%= 'active' if controller_path == 'dashboards' %>">
  <%= link_to(fa_icon('th-large', text: content_tag(:span, 'Dashboard', class: 'nav-label')), dashboards_admin_path) %>
</li>

<li>
  <%= link_to(fa_icon('edit', text: content_tag(:span, 'Cadastramento', class: 'nav-label')), root_path) %>
</li>
