<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element text-center">
          <%= link_to(root_path, class: 'dropdown-toggle') do %>
            <div class="metodista-logo medium white"></div>
          <% end %>
        </div>
        <div class="logo-element">IMCG</div>
      </li>

      <%= render 'layouts/application/menu_list' %>
    </ul>
  </div>
</nav>
