<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element text-center">
          <%= link_to(root_path, class: 'dropdown-toggle') do %>
            <div class="metodista-logo small"></div>
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">IMCG - Goiânia</strong>
              </span>
              <span class="text-muted text-xs block">
                Igreja Metodista Central
              </span>
            </span>
          <% end %>
        </div>
        <div class="logo-element">IMCG</div>
      </li>

      <%= render 'layouts/application/menu_list' %>
    </ul>
  </div>
</nav>
