<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li>
        <%= link_to edit_user_path(current_user), data: { component: 'tooltip', placement: 'bottom', title: t('general.my_profile') } do %>
          <span class="text-muted welcome-message"><%= "@#{current_user.username}" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, data: { component: 'tooltip', placement: 'bottom', title: t('general.action.sign_out') }, method: :delete do %>
          <%= fa_icon 'sign-out' %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
