<% breadcrumb :dashboard %>
<%= header('Dashboard') %>

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h3>Dashboard</h3>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-12">
        <h3>Dashboards#admin</h3>
        <p>Find me in app/views/dashboards/admin.html.erb</p>
      </div>
    </div>
  </div>
</div>
