<h3>Seja bem-vindo(a)!</h3>
<p>Esse será o nosso sistema de cadastramento e controle de membros [...] (Mensagem de boas-vindas)</p>
<p>
  Para ver o layout dos administradores, acesse o
  <%= link_to(' dashboard.', dashboards_admin_path) %>
</p>
<form class="m-t" role="form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="CPF" required="true">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Nome" required="true">
  </div>
  <button type="submit" class="btn btn-primary block full-width m-b">Cadastre-se</button>
</form>
<p class="m-t">
  <small>Texto da mensagem de ajuda...</small>
</p>
